<!-- <script src="JavaScript.js"></script> -->
<!-- <link href="style.css" rel="stylesheet" /> -->
 

<div ng-controller="loginctrl">

 <div id="container">
        <div id="form_box">

            <form action="/" id="myLogin">
                <p id="form_heading">Login Form</p>
                <input type="email" id="username" ng-model="username" placeholder="username" ><br />
                <input type="password" id="password" ng-model="password" placeholder="password"><br /><br />
                <!-- <input type="checkbox" id="checkbox"><label for="checkbox" style="color:white; font-size:15px;">Remember Me</label><br />-->
                <button type="button" ng-click="submit()">Login</button>
                <!-- <input type="submit" value="Login"><br />-->


            </form>
        </div>



        <p id="zykrr" style="text-align: center; ">Crafted with love</p> <a href="http://www.zykrr.com"><img src="/login2/logo.png" alt="zykrr-logo" width="80" height="80" style="margin-left: 124px;"></a></div>
</div>
